.socialIcons a {
  transition: transform 2s ease, color 2s ease;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2.5px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.socialIcons a:hover {
  transform: translateY(-15px);
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  background-color: #fff;
  margin: 30px auto;
  width: 90%;
  padding: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0  rgba(0, 0, 0, 0.17);
  animation-name: openmodal;
  animation-duration: 1s;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.modal-header .close {
  padding: 15px;
  margin: -15px -15px -15px auto;
}
button.close {
  padding: 0;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #e9ecef;
  background-color: #f4f5f7;
  flex-wrap: wrap;
}

@keyframes openmodal {
  from {opacity: 0}
  to {opacity: 1}
}